@font-face {
  font-family: GameBoy;
  src: url("/extras/Early\ GameBoy.ttf");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --red: #dd082f;
  --cyan: #01fbfb;
  --yellow: #ffcc02;
  --green: #2ff901;
  --grey: rgb(155, 155, 155);
  --black: #242424;
}

@keyframes blink {
  0%,
  50%,
  100% {
    background-color: var(--cyan);
  }

  25%,
  75% {
    background-color: #242424;
  }
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: GameBoy;
  background-image: url(/img/wallpaper.jpg);
}

.functional {
  background-color: var(--red);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: solid 3px var(--black);
  width: 60vw;
  height: 100vh;
}
.upper-lights {
  padding: 2rem;
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  position: relative;
}
.upper-lights span {
  margin-right: 1rem;
}
.on-off {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  display: inline-block;
  border: solid 3px var(--black);
  animation: blink 3s ease 0s infinite normal forwards;
}
.failure {
  height: 2.5rem;
  width: 2.5rem;
  background-color: var(--red);
  border-radius: 50%;
  display: inline-block;
  border: solid 3px var(--black);
}
.working {
  height: 2.5rem;
  width: 2.5rem;
  background-color: var(--yellow);
  border-radius: 50%;
  display: inline-block;
  border: solid 3px var(--black);
}
.success {
  height: 2.5rem;
  width: 2.5rem;
  background-color: var(--green);
  border-radius: 50%;
  display: inline-block;
  border: solid 3px var(--black);
}
.display {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 90%;
  background-color: var(--grey);
  border: solid 2px var(--black);
  padding: 0.7rem;
}
.inner-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  height: 90%;
  background-color: rgb(52, 95, 52);
  border: solid 2px black;
  margin: 1.5rem;
  padding: 3rem;
  justify-content: space-between;
}
.inner-display .pokemon-name {
  font-size: 3rem;
  opacity: 0;
}
.inner-display .pokemon {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.pokemon-image-container {
  display: flex;
  justify-content: left;
  margin: 0;
  margin-left: -1rem;
  align-items: center;
}
.pokemon-image {
  height: 13rem;
  width: 15rem;
  border-radius: 1rem;
  background-color: rgba(44, 44, 44, 0.815);
}
.pokemon-stats {
  display: flex;
  flex-direction: column;
  margin-left: 4rem;
  justify-content: center;
  align-items: center;
}
.pokemon-type {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  border: dotted 5px;
  padding: 0.2rem 2rem 0.2rem 2rem;
  opacity: 0;
}
.pokemon-id {
  font-size: 1.2rem;
  opacity: 0;
}
.search-box {
  margin: 3rem;
  display: flex;
}
input[type="text"] {
  width: 100%;
  padding: 1rem 3rem;
  margin: 0rem 2rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #88505b;
  font-size: 1rem;
  color: white;
}
input[type="text"]::placeholder {
  color: rgba(255, 255, 255, 0.267);
  font-size: 1rem;
}
input[type="text"],
select {
  border: 1px solid #ccc;
  border-radius: 4px;
}
input[type="submit"] {
  padding: 1rem 1.5rem;
  background-color: #242424;
  border-radius: 50%;
  display: inline-block;
  border: solid 3px var(--black);
  cursor: pointer;
}
input[type="submit"]:hover {
  background-color: var(--green);
  transition: 0.3s;
}

/*-------RESPONSIVE---------------*/
@media screen and (max-width: 900px) {
  .functional {
    width: 80vw;
    height: 90vh;
  }
  .on-off {
    height: 3rem;
    width: 3rem;
  }
  .failure {
    height: 1.5rem;
    width: 1.5rem;
  }
  .working {
    height: 1.5rem;
    width: 1.5rem;
  }
  .success {
    height: 1.5rem;
    width: 1.5rem;
  }
  .display {
    width: 90%;
    height: 50%;
  }
  .inner-display {
    margin: 1rem;
    padding: 2rem;
  }
  .inner-display .pokemon {
    width: 100%;
  }
  .inner-display .pokemon-name {
    font-size: 1.5rem;
  }
  .pokemon-image {
    height: 7rem;
    width: 7rem;
  }
  .pokemon-stats {
    font-size: 0.5rem;
    margin-left: 0.5rem;
  }
  .pokemon-type {
    margin-bottom: 0.5rem;
    font-size: 0.8rem;
    border: dotted 5px;
    padding: 0.2rem 1rem 0.2rem 1rem;
    opacity: 0;
  }
  .pokemon-id {
    font-size: 0.8rem;
    opacity: 0;
  }
}
